.formulario{
    display: flex;
    height: auto;
    min-height: 815px;
    flex-direction: column;
    background: url(../../img/vice-vehicle.webp) no-repeat top;
    background-size: 197px;
    /* padding-right: 78px; */
    align-items: center;
    justify-content: flex-end;
}


@media (min-width:768px){
    .formulario{
        display: flex;
        justify-content: center;
        height: 92vh;
        min-height: 394px;
        align-items: flex-start;
        margin: 0 0 0 117px;
        background: url(../../img/vice-vehicle.webp) no-repeat right;
    }
}


@media (min-width:1200px){
    .formulario{
        display: flex;
        justify-content: center;
        height: 114vh;
        min-height: 394px;
        align-items: flex-start;
        margin: 0 0 0 116px;
        background: url(../../img/vice-vehicle.webp) no-repeat right;
        background-size: 761px;
    }
}