.formulario__inputs{
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    justify-content: space-evenly;
    gap: 10px;
    flex-direction: column;    
    
}

.formulario__inputs input{
    padding: 11px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
}

.formulario__inputs .text__boxes{
    padding: 6px;
    width: 100%;
}

.formulario__inputs label {
    font-size: 1rem;
    
}

.formulario__inputs textarea{
    height: 228px;
    resize: none;

}


@media (min-width:768px){
    .formulario__inputs .text__boxes {
        padding: 10px;
        width: 100%;
        font-size: 1rem;
    }
}