.formulario__inputs{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-evenly;
    gap: 10px;
    
}

.formulario__inputs .text__boxes{
    padding: 8px;
    width: 300px;
}

.formulario__inputs label {
    font-size: 1rem;
}