*{
  box-sizing: border-box;
  padding: auto; 
}

html{
  scroll-behavior: smooth;
}

body{
    font-family:monospace;
    background-color: rgb(0, 0, 0);
    margin: 0;
    
    color: rgb(168, 168, 168, 0.774);
}

h1{font-size: 2em;
   color: rgba(236, 234, 234, 0.986);}
h2{font-size: 1.5em;
color:rgb(197, 197, 197);}
h3{font-size: 1.80em;}
p{font-size: 1.5em; color:rgb(197, 197, 197);}
    
button{
  font-size: 1em;
  text-align: justify;
  font-weight: bold;
  padding: 10px 27px;
  border-radius: 30px;
  border: 2px solid rgb(26, 25, 25);
  box-shadow: 1.5px 1.5px 9px rgba(255, 255, 255, 0.692);
  color: rgb(255, 255, 255);
  background-color: black;
  cursor: pointer;
 
}

button:hover{
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
}

.container{
  max-width: 1700px;
  margin: 0;
  
}

.color-acento{color: rgb(255, 84, 198);}

header{
  background-color: rgb(0, 0, 0);
  position: fixed;
    width: 100%;
    z-index: 1001;
}

header .logo{
  margin: 0;
  display: flex;
  flex-direction: justify;
  padding: 0px 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
    font-size: 1.5em;
  
} 

header .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:auto;
}

header .nav{
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 150px;
}

header a{
  padding: 15px 10px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 1.1em;
}

header a:hover{
  color: rgb(255, 84, 198);
  
  
}
#hero{
   margin: 0;
  display: flex;
  align-items: center;
  color: rgb(175, 175, 175);
  background-image: linear-gradient(
    0deg,
    rgb(11, 0, 15),
    rgba(29, 1, 19, 0.5)
    )
    ,url("img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px 30px;

}
#hero .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

#hero .img-container{
  display: flex;
  flex-direction: column; 
  margin-top: 80px;
  background-image: 
    url("img/perfil.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 130px;
    width: 130px;
    background-position: center center;
  }

#hero .texto{
  display: flex;
  text-align: center;
  flex-direction:column;
  margin: 0;
  padding: 0px 15px;
     
  }
  #hero .texto h1{
    font-size: 1.90em;
    margin: 0;
    
  }
  #hero .texto h1
  #hero .texto h2{
    font-size: 1.5em;
    margin: 0px;
    
  }
  #hero .texto p{
    font-size: 14px;
    text-align: center;
    line-height: 18px;

  }
 
  
#mis-redes .container{
  display: flex;
  flex-direction: column;
  width: 100%;

}

#mis-redes{
  display: flex;
  flex-direction: column;
  margin:0;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(5, 5, 5);
  height: auto;
  padding: 90px 10px;
  background-image: linear-gradient(
    0deg,
    rgba(11, 0, 15, 0.527),
    rgba(29, 1, 19, 0.5)
    )
    ,url("img/neon\ heart.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
 
}

#mis-redes h2{
  font-size: 8.2vw;
  
}


#mis-redes button{
  font-size: 1em;
  text-align: center;
  justify-content: center;
  width: 300px;
  color: rgba(255, 255, 255, 0.959);
  border-radius: 10px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493;   
  padding: 10px  100px;
  margin: 5.5px;
}

#mis-redes button:hover{
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
}

#habilidades{
  text-align: center;
  color: rgba(255, 129, 238, 0.959);

}

#habilidades .container{
  padding: 100px 12px;

}

#habilidades h2{
  margin-top: 0;
  font-size: 3em;
}

#habilidades p{
  display: none;

}
#habilidades .carta{
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 20px;
  border-radius: 40px;

}

.carta:first-child{
  background-image: linear-gradient(
    0deg,
    rgb(0, 0, 0),
    rgba(14, 1, 9, 0.692)
    ),url("img/frontend.jpg");
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
}

.carta:nth-child(2){
  background-image: linear-gradient(
    0deg,
    rgb(0, 0, 0),
    rgba(14, 1, 9, 0.692)
    ),url("img/diseno.jpg");
    border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
}


.carta:nth-child(3){
  background-image: linear-gradient(
    0deg,
    rgb(0, 0, 0),
    rgba(14, 1, 9, 0.692)
    ),url("img/ilustracion.jpg");
    border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
 
}


#contacto .container{
  display: flex;
  flex-direction: column;
  width: 3100px;
  height: auto;
  padding: 0 25px;
  margin: 20px;


}


.contact_form{
  width: 310px;
  height: auto;
  padding: 10px 12px;
  margin:  auto;
  border-radius: 10px;
  background-color: rgb(8, 8, 8);
  align-items: center;
}

#Contacto input{
  background-color: #fbfbfb; 
  display: flex;
  flex-direction: column;
  width: 300px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}

#Contacto textarea{
  background-color: #fbfbfb; 
  width: 300px; 
  height: 110px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: .5px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}

#Contacto label{
  display: flex; 
 flex-direction: row; 
}

#Contacto button{
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.959); 
  border-color: #ab4493; 
  border-style: solid; 
  border-radius: 30px;  
  width: justify;   
  cursor: pointer;
  padding: 5px 80px;
  justify-content: center;

  
}

#Contacto button p{
  font-size: 12px;
}
#Contacto button:hover{
  color:black;
  background-color:#fbfbfb;
  display: flex;
}

#Contacto  button:hover p{
  color:black;
  display: flex;
}
  

span{
  color: rgba(255, 129, 238, 0.959); 
}
.aviso{
  font-size: 11px;  
  color: rgba(255, 129, 238, 0.959);  
}

#Contacto h3{
  font-size: 15px; 
  padding-bottom: 30px;
  color: rgba(255, 255, 255, 0.959);  
}
#Contacto p{
  font-size: 12px; 
  color: rgba(255, 255, 255, 0.959)
}

footer p{
  margin: 0;
  padding: 12px;
  color: rgba(255, 129, 238, 0.959);
  text-shadow: 1.5px 1.5px 12px rgba(255, 255, 255, 0.692);
}

footer{
  margin:0;
  background-color: rgb(0, 0, 0);
}
footer .container{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


/*For desktop Size*/
@media (min-width: 800px){
  header{
    position: fixed;
    width: 100%;
    z-index: 1001;
    margin: 0px;

  }
   header .container{
      flex-direction: row;
      justify-content: space-between;
      font-size: 1em;
      max-width: 1750px;
    }
    header .logo{
      font-size: 2.5em;
      margin-left: 50px;
      
     } 
   header .nav{
    flex-direction: row;
    padding-bottom: 0;
    } 

    header a{
      margin-right: 18px;
      padding-left: 30px;


    }

    #hero{
      justify-content: space-evenly;
      display: flex;
      padding: 300px 100px;
      
      
    }
    #hero .container{
      flex-direction: row;
      justify-content: center;
      align-items: center;
    
  }
  #hero .img-container{
      background-size: contain;
      background-position: center center;
      height: 250px;
      width: 250px;
  }

  
  #hero .texto{
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 800px;
padding-left: 50px;  }
  
  #hero .texto h1{
    font-size: 2.3em;
    margin-top: 0;
  }
  
  #hero .texto h2{
    margin-top: 0;
      font-size: 1.5em;
      
  }
  
  #hero .texto p{
      font-size: 14px;
      text-align: left;


  }
 
  
  
  
  #mis-redes .container{
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
  
  }
  
  #mis-redes{
    display: flex;
    flex-direction: column;
    margin:0;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(
    0deg,
    rgba(11, 0, 15, 0.527),
    rgba(29, 1, 19, 0.5)
    )
    ,url("img/neon\ heart.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 90px 10px;
   
  }
  
  #mis-redes h2{
    font-size: 2em;
    text-align: center;
    
  }
  
  
  #mis-redes button{
    font-size: 1em;
    text-align: center;
    justify-content: center;
    width: 300px;
    color: rgba(255, 255, 255, 0.959);
    border-radius: 10px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493;   
    padding: 10px  100px;
    margin: 5.5px;
  }
  
  #mis-redes button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
  }
  
  #habilidades .habilidad{
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }

  #habilidades p{
    display: block;
    margin-bottom: 30px;
  }
    
}
/* Size for tablets*/
@media (min-width: 490px){
  header{
    position: fixed;
    width: 100%;
    z-index: 1001;
    margin: 0px;

  }
   header .container{
      flex-direction: row;
      justify-content: space-between;
      font-size: 1em;
      max-width: 1750px;
    }
    header .logo{
      font-size: 2.5em;
      margin-left: 50px;
      
     } 
   header .nav{
    flex-direction: row;
    padding-bottom: 0;
    } 

    header a{
      margin-right: 18px;
      padding-left: 30px;


    }

    #hero{
      justify-content: space-evenly;
      display: flex;
      padding: 300px 100px;
      
      
    }
    #hero .container{
      flex-direction: row;
      justify-content: center;
      align-items: center;
    
  }
  #hero .img-container{
      background-size: contain;
      background-position: center center;
      height: 250px;
      width: 250px;
  }

  
  #hero .texto{
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 800px;
padding-left: 50px;  }
  
  #hero .texto h1{
    font-size: 2.3em;
    margin-top: 0;
  }
  
  #hero .texto h2{
    margin-top: 0;
      font-size: 1.5em;
      
  }
  
  #hero .texto p{
      font-size: 14px;
      text-align: left;


  }
 
  
  #mis-redes .container{
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
  
  }
  
  #mis-redes{
    display: flex;
    flex-direction: column;
    margin:0;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(
    0deg,
    rgba(11, 0, 15, 0.527),
    rgba(29, 1, 19, 0.5)
    )
    ,url("img/neon\ heart.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 90px 10px;
   
  }
  
  #mis-redes h2{
    font-size: 2em;
    text-align: center;
    
  }
  
  
  #mis-redes button{
    font-size: 1em;
    text-align: center;
    justify-content: center;
    width: 300px;
    color: rgba(255, 255, 255, 0.959);
    border-radius: 10px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493;   
    padding: 10px  100px;
    margin: 5.5px;
  }
  
  #mis-redes button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
  }
  
  

  