*{
  box-sizing: border-box;
  padding: auto; 
}

html{
  scroll-behavior: smooth;
}

body{
    font-family:monospace;
    background-color: rgb(0, 0, 0);
    margin: 0;
    
    color: rgb(168, 168, 168, 0.774);
}

h1{font-size: 2em;
   color: rgba(236, 234, 234, 0.986);
}
h2{font-size: 1.5em;
color:rgb(197, 197, 197);}
h3{font-size: 1.80em;}
p{font-size: 1.5em;}
    
button{
  font-size: 1em;
  text-align: justify;
  font-weight: bold;
  padding: 10px 27px;
  border-radius: 20px;
  border: 2px solid rgb(26, 25, 25);
  box-shadow: 1.5px 1.5px 9px rgba(255, 255, 255, 0.692);
  color: rgb(255, 255, 255);
  background-color: black;
  cursor: pointer;
 
}

button:hover{
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
}

.container{
  max-width: 1600px;
  margin: auto;
  
}

.color-acento{color: rgb(255, 84, 198);}

header{
  background-color: rgb(0, 0, 0);
  position: fixed;
    width: 100%;
    z-index: 1001;
}

header .logo{
  margin: 0;
  display: flex;
  flex-direction: justify;
  padding: 0px 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
    font-size: 1.5em;
  
} 

header .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:auto;
}

header .nav{
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 150px;
}

header a{
  padding: 15px 5px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 1.1em;
}

header a:hover{
  color: rgb(255, 84, 198);
  
  
}
#hero{
   margin: 0px;
   width: auto;
  display: flex;
  flex-direction: column;
  padding: 90px  30px;
  font-size: 18px;
  align-items: center;
  color: rgb(175, 175, 175);
  background-image: linear-gradient(
    0deg,
    rgba(11, 0, 15, 0.89),
    rgba(17, 4, 13, 0.61)
    )
    ,url("img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
#hero .container{
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding: 5px  40px;
  font-size: 10px;
  align-items: center;
  max-width: 1600px;
  }

#hero .img-container{
  display: flex;
  flex-direction: column; 
  margin: 0;
  background-image: 
    url("img/perfil.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 150px;
    width: 150px;
  }

#hero .texto{
  flex-direction: column;
  width: 100%;
  text-align: left;
  padding: 0px -5px;
     
  }
 
  #hero button{
    font-size: 1.5em;
  }


#mis-redes{
  display: flex;
  flex-direction: row;
  margin:0;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(5, 5, 5);
  height: 55vh;
  padding: 80px 1px;
 
}

#mis-redes h2{
  font-size: 4.5vw;
  
}


#mis-redes button{
  font-size: 4vw;
  size-adjust: ;
  color: rgba(255, 255, 255, 0.959);
  text-shadow: 1.5px 1.5px 5px rgba(255, 255, 255, 0.541);
  
  padding: 15px;
  margin: 5px;
}

#mis-redes button:hover{
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
}

#habilidades{
  text-align: center;
  color: rgba(255, 129, 238, 0.959);

}

#habilidades .container{
  padding: 100px 12px;

}

#habilidades h2{
  margin-top: 0;
  font-size: 3em;
}

#habilidades p{
  display: none;

}
#habilidades .carta{
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 20px;
  border-radius: 40px;

}

.carta:first-child{
  background-image: linear-Gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)    
  ),url("img/frontend.jpg");

}

.carta:nth-child(2){
  background-image: linear-Gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)    
  ),url("img/diseno.jpg");
}


.carta:nth-child(3){
  background-image: linear-Gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)    
  ),url("img/ilustracion.jpg");
 
}


#contacto .container{
  display: flex;
  flex-direction: column;
  width: 250px;
  height: auto;
  padding: 0 25px;
  margin: 20px;


}


.contact_form{
  width: 350px;
  height: auto;
  padding: 10px 12px;
  margin:  auto;
  border-radius: 10px;
  background-color: rgb(8, 8, 8);
  align-items: center;
}

#Contacto input{
  background-color: #fbfbfb; 
  display: flex;
  flex-direction: column;
  width: 310px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}

#Contacto textarea{
  background-color: #fbfbfb; 
  width: 310px; 
  height: 110px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: .5px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}

#Contacto label{
  display: flex; 
 flex-direction: row; 
}

#Contacto button{
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.959); 
  border-color: #ab4493; 
  border-style: solid; 
  border-radius: 30px;  
  width: justify;   
  cursor: pointer;
  padding: 5px 80px;
  justify-content: center;

  
}

#Contacto button p{
  font-size: 12px;
}
#Contacto button:hover{
  color:black;
  background-color:#fbfbfb;
  display: flex;
}

#Contacto  button:hover p{
  color:black;
  display: flex;
}
  

span{
  color: rgba(255, 129, 238, 0.959); 
}
.aviso{
  font-size: 11px;  
  color: rgba(255, 129, 238, 0.959);  
}

#Contacto h3{
  font-size: 15px; 
  padding-bottom: 30px;
  color: rgba(255, 255, 255, 0.959);  
}
#Contacto p{
  font-size: 12px; 
  color: rgba(255, 255, 255, 0.959)
}

footer p{
  margin: 0;
  padding: 12px;
  color: rgba(255, 129, 238, 0.959);
  text-shadow: 1.5px 1.5px 12px rgba(255, 255, 255, 0.692);
}

footer{
  margin:0;
  background-color: rgb(0, 0, 0);
}
footer .container{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media (min-width: 720px){
  header{
    position: fixed;
    width: 100%;
    z-index: 1001;

  }
   header .container{
      flex-direction: row;
      justify-content: space-between;
      font-size: 1em;
      max-width: 1450px;
    }
    header .logo{
      font-size: 3em;
     } 
   header .nav{
    flex-direction: row;
    padding-bottom: 0;
    margin-left: 20px;
    padding-right: 50;   
    } 


    #hero .container{
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    padding: 50px 80px;
    
    }
   
  #hero h1{
      font-size: 5em;
  }
  
  #hero h2{
      font-size: 3em;
  }
  
  #hero p{
      font-size: 16px;
  }
 
  
  #hero .img-container{
    background-size: contain;
      background-position: center center;
      height: 200px;
      width: 200px;
       border-radius: 0%;
  }
  
  #hero .texto{
    width: 65%;
    text-align: initial;
    padding: 300px 50px;
  }
  
  button{
    font-size: 1.5em;
  } 
   
  #mis-redes .container{
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
    justify-content: center;
  }

  #mis-redes h2{
    font-size: 3em;
  }

  #mis-redes button{
  font-size: 1.20em;
  color: aliceblue;
  text-transform:capitalize;
  border-color: #7a787a; 
  border-style: solid; 
  border-radius: none;
  width: auto;   
  cursor: pointer;
  padding: 15px 80px;
  margin-top: 15px;
  }


    
}