*{
  box-sizing: border-box;
  padding: auto; 
}

html{
  scroll-behavior: smooth;
}

body{
    font-family:monospace;
    background-color: rgb(0, 0, 0);
    margin: 0;
    
    color: rgb(168, 168, 168, 0.774);
}

h1{font-size: 1.5em;
   color: rgba(236, 234, 234, 0.986);
}
h2{font-size: 1em;
color:rgb(197, 197, 197);}
h3{font-size: 2em;}
p{font-size: 1.50em;}
    
button{
  font-size: .80em;
  text-align: justify;
  font-weight: bold;
  padding: 10px 27px;
  border-radius: 20px;
  border: 2px solid rgb(26, 25, 25);
  box-shadow: 1.5px 1.5px 9px rgba(255, 255, 255, 0.692);
  color: rgb(255, 255, 255);
  background-color: black;
  cursor: pointer;
 
}

button:hover{
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
}

.container{
  max-width: 1400px;
  margin: auto;
}

.color-acento{color: rgb(25, 42, 231);}

header{
  background-color: rgb(0, 0, 0);
}

header .logo{
  margin: 0;
  display: flex;
  flex-direction: justify;
  padding: 16px 20px;
  font-weight: bold;
  color: rgb(252, 252, 252);
  font-size: 1.5em;
  
} 

header .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .nav{
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding-bottom: 11px;
}

header a{
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 84, 198);
  font-size: 1.1em;
}

header a:hover{
  color: rgb(255, 84, 198);
  
  
}
#hero{
  position: relative;
  display: flex;
  align-items:center;
  justify-content: center;
  text-align: left;
  font-size: 1.60em;
  flex-direction: column;
  height: 70vh;
  color: rgb(255, 84, 198);
  background-image: linear-gradient(
    0deg,
    rgba(11, 0, 15, 0.89),
    rgba(17, 4, 13, 0.61)
    )
    ,url("img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

#hero .img-container{
  position: relative;
  display: flex;
  margin: 0;
  flex-direction: column; 
  padding: 0px 15px;
  width: 190px;
  float: left;
 
}



#acercade .container{
  text-align: center;
  padding: 40px 0px;
  font-size: 11px;
  
}
#acercade h2{
  font-size: 1.9em;
  text-align: center;

}
#acercade{
  background-color: rgb(5, 5, 5);
}


#whatsapp{
  display: flex;
  flex-direction: column;
  margin:0;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(5, 5, 5);
  height: 60vh;
  padding: 100px 1px;
  background-image: linear-gradient(
    0deg,
    rgba(2, 2, 2, 0.699),
    rgba(0, 0, 0, 0.904)
    )
    ,url("img/whatsapp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#whatsapp h2{
  font-size: 5vw;
  
}

#whatsapp button{
  font-size: 4vw;
  color: rgba(255, 129, 238, 0.959);
  text-shadow: 1.5px 1.5px 5px rgba(255, 255, 255, 0.541);
}



#habilidades{
  text-align: center;
  color: rgba(255, 129, 238, 0.959);

}

#habilidades .container{
  padding: 100px 12px;

}

#habilidades h2{
  margin-top: 0;
  font-size: 3em;
}

#habilidades p{
  display: none;

}
#habilidades .carta{
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 20px;
  border-radius: 40px;

}

.carta:first-child{
  background-image: linear-Gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)    
  ),url("img/frontend.jpg");

}

.carta:nth-child(2){
  background-image: linear-Gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)    
  ),url("img/diseno.jpg");
}


.carta:nth-child(3){
  background-image: linear-Gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)    
  ),url("img/ilustracion.jpg");
 
}



.contact_form{
  width: 600;
  display: flex;
  padding: 100px 12px;
  height: auto;
  margin: 70px auto;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Contacto input{
  background-color: #fbfbfb; 
  display: flex;
  flex-direction: column;
  width: 350px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}

#Contacto textarea{
  background-color: #fbfbfb; 
  width: 350px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}

#Contacto label{
  display: flex; 
 flex-direction: column; 
}

#Contacto button{
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  border-color: #ab4493; 
  border-style: solid; 
  border-radius: 30px;  
  width: auto;   
  cursor: pointer;
  padding: 5px 80px;
  justify-content: center;

  
}


#Contacto button:hover{
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
}
#Contacto button p{
  color: rgba(255, 255, 255, 0.959); 
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  
}
span{
  color: rgba(255, 129, 238, 0.959); 
}
.aviso{
  font-size: 13px;  
  color: rgba(255, 129, 238, 0.959);  
}

#Contacto h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: rgba(255, 255, 255, 0.959);  
}
#Contacto p{
  font-size: 16px; 
  color: rgba(255, 255, 255, 0.959)
}

footer p{
  margin: 0;
  padding: 12px;
  color: rgba(255, 129, 238, 0.959);
  text-shadow: 1.5px 1.5px 12px rgba(255, 255, 255, 0.692);
}

footer{
  margin:0;
  background-color: rgb(0, 0, 0);
}
footer .container{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
