.footer{
    background-color: var(--pure-black);
    width: 100%;
    height: auto;
}


.footer__container{
    
    display: flex;
    width: 100%;
    padding: 10px;
    height: 47vh;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 17px;
    justify-content: center;
    align-content: center;
}


@media (min-width:768px){
    .footer__container{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 0 20px;
        height: 24vh;
        align-items: center;
        flex-wrap: nowrap;
    }
    
}