.card{
    width: 276px;
    height: 263px;
    background: #15001f;
    border: 1px solid #c042ff;
    font-size: 20px;
    font-family: monospace;
}



@media (min-width:768px){
    .card {
        width: 471px;
        height: 332px;
        background: #15001f;
        border: 1px solid #c042ff;
        font-size: 20px;
        font-family: monospace;
    
    }
}
