.cppcode{
    text-align: left;
    display: flex;
    font-size: 1.2rem;
}


#pre {
    overflow: auto;
    width: 100%;
    padding: 10px;
    height: auto;
    color: #bafff8;
  }

  #pre code{
    text-align: left;
    display: flex;
    width: 67%;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .curlies {
    color: #ff0000;
  }
  
  .sc {
    color: #e600ff;
  }
  
  .rounds {
    color: #ffffff;
  }
  
  .operator {
    color: #ffff00;
  }
  
  .you__can {
    color: #22ff00;
    margin-left: 30px;
  }
  .s1 {
    color: #22ff00;
  }
  
  .s2 {
    color: #4281ff;
  }
  
  .you__cant {
    color: #ff4284;
    width: 100%;
    margin-left: 30px;
  }
  .s3 {
    color: #ff4284;
    width: 100%;
  }
  
  .s4 {
    color: #ffae00;
  }
  
  
@media (min-width:768px){
  .cppcode{
    text-align: left;
    display: flex;
    font-size: 1.5rem;
}
}