.frase__icono {
    width: 26px;
}

.frase__grupo:hover .gym{
    filter: invert(73%) sepia(93%) saturate(2588%) hue-rotate(2deg) brightness(110%) contrast(109%);
}

.frase__grupo:hover .boxing{
    filter: invert(9%) sepia(100%) saturate(6481%) hue-rotate(1deg) brightness(95%) contrast(106%);
}



.frase__grupo:hover .coding{
    filter: invert(96%) sepia(34%) saturate(6363%) hue-rotate(132deg) brightness(105%) contrast(101%);


}
.frase__grupo:hover .music{
    filter: invert(53%) sepia(99%) saturate(1703%) hue-rotate(70deg) brightness(113%) contrast(110%);
}





.frase__grupo:hover .frase__icono__caja{
    background-color: black;
    transform: scale(1.2);
}



@media (min-width:768px){
    .frase__icono {
        width: 32px;
    }
}

@media (min-width:1200px){
    .frase__icono {
        width: 40px;
    }
}
