.frase__icono__caja{
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(188, 188, 188, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19px );
    -webkit-backdrop-filter: blur( 19px );
    border: 3px solid rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
}

@media (min-width:768px){
    .frase__icono__caja{
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width:1200px){
    .frase__icono__caja{
        display: flex;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }
}