.frase__imagen{
    min-width: 232px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.sofi__pixel{
    width: 220px;
    border-radius: 28px;
}




@media (min-width:768px){
    .frase__imagen{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .sofi__pixel{
        width: 262px;
    }
}

@media (min-width:1200px){
    .frase__imagen{
        display: flex;
        width: 500px;
        flex-direction: column;
        align-items: center;
    }
    .sofi__pixel{
        width: 317px;
    }

}