.frase{
    flex-direction: column;
    justify-items: center;
    align-items: center;
    display: flex;
    height: 103vh;
    justify-content: space-between;
}




@media (min-width:768px){
    .frase{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        justify-content: center;
        
    }
}
    

@media (min-width:1200px){
    .frase{
        flex-direction: column;
    justify-items: center;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    height: 78vh;
    }
}