.frase__caja{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
}

@media (min-width:768px){
    .frase__caja{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
    
    }
}
@media (min-width:1200px){
    .frase__caja{
        display: flex;
        align-items: center;
        width: 80%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-around;
        flex-direction: row;
        
    }
}

