.frase__imagen{
    width: 100%;
}

.sofi__pixel{
    width: 220px;
    border-radius: 28px;
}




@media (min-width:768px){
    .sofi__pixel{
        width: 265px;
    }

    .sofi__pixel{
        width: 366px;
    }
}

@media (min-width:1200px){
    .sofi__pixel{
        width: 265px;
    }

    .sofi__pixel{
        width: 554px;
    }
}