.frase__iconos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
    position: relative;
    align-content: stretch;

}

@media (min-width:768px){
    .frase__iconos{
        display: flex;
    width: 100%;
    gap: 64px;
    flex-wrap: wrap;
    }
}
@media (min-width:1200px){
    .frase__iconos{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 5px;
    }
}

