.frase__iconos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-evenly;
}

@media (min-width:768px){
    .frase__iconos{
        display: flex;
        width: 65%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
@media (min-width:1200px){
    .frase__iconos{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

