.frase{
    display: flex;
    justify-items: center;
    width: 100%;
    z-index: 2;
    position: relative;
    flex-direction: column-reverse;
    margin-top: -3px;
    align-items: center;
}

@media (min-width:768px){
    .frase{
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        z-index: 2;
        position: relative;
        justify-content: center;
        margin-top: -165px;
    }
}
@media (min-width:1200px){
    .frase{
        flex-direction: row;
        justify-items: center;
        align-items: center;
        margin-right: 289px;
        z-index: 2;
    }
}