.frase__grupo{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 17px;
    height: 12vh;
}

@media (min-width:768px){
    .frase__grupo{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        gap: 17px;
    }
}
@media (min-width:1200px){
    .frase__grupo{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        gap: 17px;
        height: 11vh;
        margin-bottom: 59px;
        justify-content: center;
    }
}
