.link__boton{
    text-decoration: none;
    display: flex;
    width: 67%;
    justify-content: center;
}

@media (min-width:768px){
    .link__boton{
        text-decoration: none;
        display: flex;
    }

}
@media (min-width:1200px){
    .link__boton{
        display: flex;
        width: 12%;
        min-width: 203px;
    }


}