.hero__subtitulo{
    font-size: 1.2em;
    text-align: center;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: -1px;
    transform: translateY(-300px);
    gap: 14px;
    animation: expand 0.8s ease forwards;
    transition: all 1.5s;
    justify-content: center;
    align-content: center;
    padding: 5px;
  }
    
  
  
  .mexico-bandera{
    width: 35px;
    
  }

  @media (min-width:768px){
    .hero__subtitulo {
      font-size: 1.6em;
      top: 32px;
      transform: translateY(-300px);
    }
  }