.hero__contenedor{
    display: grid;
    height: 614px;
    margin-top: 48px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: space-evenly;  
}



@media (min-width:767px){
    .hero__contenedor {
      display: flex;
      height: auto;
      align-items: center;
      justify-content: center;
      align-content: space-around;
      flex-wrap: wrap;
      width: 100%;
      padding: 0 34px;
      gap: 82px;
      margin-bottom: 93px;
  }
}
@media (min-width:1200px){
    .hero__contenedor {
      display: flex;
      height: auto;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      padding: 0 34px;
      justify-content: space-evenly;
      margin: 0;
      margin-top: 34px;
  }
}
