.hero__titulo {
    transition: all 0.9s;
      color: var(--pure-black);
      font-size: 3em;
      text-align: center;
      font-weight: 600;
      margin: 0 0 31px 0;
      filter: drop-shadow(0 0 6px var(--pure-black));
  } 
    
  
  .hero__titulo span {
    transition: all 0.9s;
    color: var(--seccond-color);
    
  }
  
  .hero__titulo span:hover {
    color: var(--blue);
    filter: drop-shadow(0 0 12px var(--blue));
  }

  @media (min-width:768px){
    .hero__titulo {
    font-size: 4em;
    text-align: center;
    font-weight: 700;
    }
}



