
/* Foto de perfil */
.img__ligth{
    width: 200px;
    animation:  slideup 0.8s ease forwards;
    position: relative;
  }
  .img__dark {
   display: none;
  }


  @media (min-width:668px){
    .img__ligth{
      width: 285px;
    }

}
  @media (min-width:1200px){
    .img__ligth{
      width: 340px;
    }

}