.textos__link{
    color: var(--ligth-purple);
    text-decoration: none;
    font-weight: bold;
    
}
.textos__link:hover{
    color: var(--blue);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}