.textos__contenido{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 94%;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


@media (min-width:768px){
    .textos__contenido{
        display: flex;
        flex-direction: column;
        width: 97%;
    }
    
}
@media (min-width:1200px){
    .textos__contenido{
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: flex-start;
    }

}