.textos{
    position: relative; */
    display: flex;
    width: 100%;

    height: 47px;
}


@media (min-width:768px){
    .textos{
        position: relative;
        display: flex;
        width: 80%;
    }

}
    