.textos__contenido{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 91%;
    bottom: -126px;
    left: 19px;
}


@media (min-width:768px){
    .textos__contenido{
        position: absolute;
    display: flex;
    flex-direction: column;
    width: 57%;
    bottom: -190px;
    }
}
@media (min-width:1200px){
    .textos__contenido{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 51%;
        bottom: -148px;
        left: 50px;
        line-height: 1.5;
    }

}