.textos__contenido{
    display: flex;
    width: 100%;
    padding: 25px;
}


@media (min-width:768px){
    .textos__contenido{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 88%;
        bottom: -590px;
        left: -29px;
    }
}
@media (min-width:1200px){
    .textos__contenido{
        position: absolute;
    display: flex;
    flex-direction: column;
    width: 51%;
    bottom: -148px;
    left: 50px;
    line-height: 1.5;
    }

}