.header__logo {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 25px;
    color: var(--pure-black);
    
    transition: all 0.7s;
}
.header__logo:hover{
    cursor: default;
}


.header__logo span{
    color: var(--seccond-color);
    
}

.header__logo span:hover{
    color: var(--blue);
    filter: drop-shadow(0 0 12px var(--blue));
}

@media(min-width:768px){
    .header__logo {
        display: flex;
        justify-content: flex-start;
        font-size: 25px;
    }
}


