.portafolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 
@media (min-widrh:768px){
    .portafolio{
        flex-direction: row;
    }    
}

@media (min-widrh:1200px){
    .portafolio{
    
    }
} */