.portafolio__img{
    position: absolute;
    width: 581px;
    top: -175px;
}

.vsc__img{
    height: 279.13px;}

.dark__img{
    display: none;
}

@media (min-width:768px){
    .portafolio__img{
        position: absolute;
        width: 581px;
        top: -177px;
    }
    .vsc__img{
        height: 289.23px;
    }
}
@media (min-width:1200px){
    .portafolio__img{
        position: absolute;
        object-fit: cover;
        width: 540px;
        top: -179px;
        
    }
    .vsc__img{
        height: 266.92px;
    }

}