.portafolio__titulo{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--purple);
}


/* 
@media (min-widrh:768px){
    .portafolio__titulo{
    
    }    
}

@media (min-widrh:1200px){
    .portafoportafolio__titulolio{
    
    }
} */    