.portafolio__contenedor{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    gap: 32px;
}


@media (min-width:768px){
    .portafolio__contenedor{
        display: flex;
        position: relative;
        justify-content: center;
        flex-direction: row;
        gap: 43px;
        align-content: flex-start;
    }    
}

@media (min-width:1200px){
    .portafolio__contenedor{
        display: flex;
    position: relative;
    justify-content: center;
    height: 495px;
    flex-direction: row;
    gap: 115px;
    /* padding-right: 111px; */
    align-content: flex-end;
    }
    
    
}
