.portafolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


@media (min-width:768px){
    .portafolio{
        background: url(../../img/Calligraphy-1-removebg-preview.webp) right no-repeat;
        background-size: 717px;
        height: 90vh;
        position: relative;
        justify-content: space-between;
        min-height: 929px;
    }
}

@media (min-width:1200px){
    .portafolio{
        background: url(../../img/Calligraphy-1-removebg-preview.webp) right no-repeat;
        background-size: 717px;
        height: 90vh;
        position: relative;
        justify-content: space-between;
        min-height: 929px;
    }
    
}
