.portafolio__trajeta .portafolio__cara{
    display: flex;
    position: absolute;
    backface-visibility: hidden;
    /* overflow: hidden; */
    transition: .5s;
    align-items: center;
    justify-content: center;
}

.portafolio__trajeta .faceA{
    transform: perspective(600px) ratateY(0deg);
    box-shadow: 0 5px 10px var(--pure-black);
}