.portafolio__contenedor{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
    gap: 30px;
    height: 131vh;
}


@media (min-width:768px){
    .portafolio__contenedor{
        display: flex;
        position: relative;
        justify-content: center;
        flex-direction: row;
        gap: 43px;
        align-content: flex-start;
    }    
}

@media (min-width:1200px){
    .portafolio__contenedor{
        display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
    }
    
    
}
