.portafolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (min-width:768px){
    .portafolio{
        background-size: 717px;
        position: relative;
    }
}


@media (min-width:1200px){
    .portafolio{
    background-size: 717px;
    position: relative;
    justify-content: space-between;
    }
}
