.portafolio__contenedor{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    gap: 32px;
}


@media (min-width:768px){
    .portafolio__contenedor{
        display: flex;
        position: relative;
        justify-content: space-evenly;
        flex-direction: row;
        gap: 43px;
        align-content: flex-start;
    }    
}

@media (min-width:1200px){
    .portafolio__contenedor{
        display: flex;
        position: relative;
        justify-content: space-evenly;
        height: 477px;
        flex-direction: row;
        gap: 43px;
        align-content: flex-start;
    }
    
}
