
.portafolio__btn{
    display: flex;
    font-size: 12px;
    width: 127px;
    margin-top: 20px;
    padding: 19px 8px;
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 40px;
    border: 3px solid rgb(255 255 255 / 74%);
    justify-content: space-evenly;
    font-weight: 700;
}


.portafolio__btn:hover{
    border: 3px solid var(--blue);
}


@media (min-width:768px){
    .portafolio__btn{
        display: flex;
        font-size: 15px;
        width: 107%;
        padding: 22px 16px;
        align-items: center;
        border-radius: 40px;
        justify-content: space-evenly;
        font-weight: 800;
    }
    
    .portafolio__btn:hover{
        transform: scale(1.1);
    }


}
@media (min-width:1200px){
    .portafolio__btn{
        display: flex;
        font-size: 15px;
        width: 116%;
        padding: 24px 14px;
        align-items: center;
        border-radius: 40px;
        justify-content: space-evenly;
        font-weight: 700;
    }
    
    .portafolio__btn:hover{
        transform: scale(1.1);
    }

}