.portafolio__img{
    position: absolute;
    object-fit: cover;
    width: 400px;
}

.vsc__img{
    height: 199.13px;
}

.dark__img{
    display: none;
}

@media (min-width:768px){
    .portafolio__img{
        position: absolute;
        object-fit: cover;
        width: 581px;
        top: -151px;
    }
    .vsc__img{
        height: 289.23px;
    }
}
@media (min-width:1200px){
    .portafolio__img{
        position: absolute;
        object-fit: cover;
        width: 581px;
        top: -151px;
    }

}