.portafolio__subtitulo{
    position: absolute;
    top: 126px;
    font-size: 1.2rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 262px;
    min-width: 170px;
    justify-content: center;
    align-items: center;
}

@media (min-width:768px){
    .portafolio__subtitulo{
        position: absolute;
        top: 108px;
        font-size: 1.2rem;
        margin: 0;
        display: flex;
        flex-direction: row;
        width: 278px;
        min-width: 170px;
        justify-content: center;
        align-items: center;
    }
}
