.portafolio__trajeta{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 350px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    overflow: hidden;
    justify-content: space-evenly;
    max-width: 406px;
}

.portafolio__trajeta:hover .faceA{
    transform: perspective(600px) rotateY(180deg);
}
.portafolio__trajeta:hover .faceB{
    transform: perspective(600px) rotateY(360deg);
}

@media (min-width:768px){
    .portafolio__trajeta{
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        width: 80%;
        height: 357px;
        max-width: 461px;
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media (min-width:1200px){
    .portafolio__trajeta{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 532px;
        height: 404px;
        max-width: 800px;
    }
}