.slider{
    display: inline-block;
    animation: 22s slide infinite linear;
    height: 19vh;
    min-height: 252px;
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-626%);
    }

}


@media (min-width:768px){
    .slider{
    height: 28vh;
        min-height: 262px;
        animation: 80s slide infinite linear;
    }
}
@media (min-width:1200px){
    .slider{
        animation: 90s slide infinite linear;
        height: 42vh;
        min-height: 237px;
        
    }
}
