.tools__cajas{
    display: flex;
    gap: 16px;
    align-items: center;
    white-space: nowrap;
    height: 137px;
    width: 1252px;
    justify-content: space-around;
}

@media (min-width:678px){
    .tools__cajas{
        display: flex;
        height: 22vh;
        gap: 144px;
        
    }
}
@media (min-width:1200px){
    .tools__cajas{
        display: flex;
        height: 23vh;
    }   
        
}