.tools{
    display: flex;
    flex-direction: column;
    height: 34vh;
    justify-content: flex-end;
    margin-top: 35px;

}
.tools__titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin: 0;
}
@media (min-width:678px){
    .tools__titulo{
        font-family: 'Montserrat', sans-serif;
        font-size: 3.3rem;
    }
}
@media (min-width:1200px){
    .tools__titulo{
        font-family: 'Montserrat', sans-serif;
        font-size: 3.5rem;
        margin-top: 0;

    }
}