.tools__cajas{
    display: flex;
    gap: 40px;
    align-items: center;
    white-space: nowrap;
    height: 164px;
    width: -23px;
}


@media (min-width:678px){
    .tools__cajas{
        display: flex;
        height: 45vh;
        gap: 144px;
        
    }
}
@media (min-width:1200px){
    .tools__cajas{
        display: flex;
        height: 34vh;
    }   
        
}