.tools__icono{
    display: flex;
    flex-direction: column;
    width: 35px;
}




@media (min-width:768px){

    .tools__icono{
        width: 53px;
    }
}
@media (min-width:1200px){

    .tools__icono{
        width: 65px;
    }
}
    