.tools__cajas{
    display: flex;
    width: 100%;
    gap: 16px;
    align-items: center;
    white-space: nowrap;
    height: 121px;
}





@media (min-width:678px){
    .tools__cajas{
        display: flex;
        height: 22vh;
        
    }
}
@media (min-width:1200px){
    .tools__cajas{
        display: flex;
        height: 23vh;
    }
}