.tools__caja{
    display: flex;
    height: 60px;
    width: 60px;
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    background: rgba(188, 188, 188, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19px );
    -webkit-backdrop-filter: blur( 19px );
    border: 3px solid rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
}
.tools__caja:hover{
    transform: scale(1.2);
}






@media (min-width:768px){
    .tools__caja{
        width: 90px;
        height: 90px;
        min-width: 90px;
        min-height: 90px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width:1200px){
    .tools__caja{
        display: flex;
        height: 125px;
        width: 125px;
        min-height: 125px;
        min-width: 125px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }
}
        






