.tools{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    height: 350px;
    justify-content: flex-end;
}



@media (min-width:768px){
    .tools{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
}

@media (min-width:1200px){
    .tools{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 407px;
        min-height: 330px;
    }
}