.dark-mode__icon{
    display: flex;
    font-size: 38px;
    align-items: center;
    padding: 20px 1px;
    width: 45px;
    filter: invert(74%) sepia(50%) saturate(3042%) hue-rotate(148deg) brightness(104%) contrast(113%)drop-shadow(rgb(0, 0, 0) 0px 0px 9px);
    transition: .3s ease-in-out;
}


    
    
.dark-mode__icon:hover{
    transform: scale(1.3);
}

.rayo-lleno{
    display: none;
}


@media(min-width:768px){
    .rayo-vacio{
        display: flex;
        margin-left: -67px;
        width: 35px;
        filter: invert(0%) sepia(50%) saturate(3042%) hue-rotate(148deg) brightness(104%) contrast(113%)drop-shadow(rgb(0, 0, 0) 0px 0px 9px);
    }

    .rayo-vacio:hover{
        filter: invert(74%) sepia(50%) saturate(3042%) hue-rotate(148deg) brightness(104%) 
    }


}
