.terminal_toolbar {
    display: flex;
    height: 30px;
    width: 100%;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(#504b45 0%, #3c3b37 100%);
  }
  
  .butt {
    display: flex;
    align-items: center;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 5px;
    font-size: 8px;
    height: 12px;
    width: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 100%;
    background: linear-gradient(#7d7871 0%, #595953 100%);
    text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
  }
  
  .btn-color {
    background: #ee411a;
  }
  
  .btn:hover {
    cursor: pointer;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .butt--exit {
    background: linear-gradient(#f37458 0%, #de4c12 100%);
  }
  
  .user {
    color: #d5d0ce;
    margin-left: 6px;
    font-size: 14px;
    line-height: 15px;
  }