.custom-shape-divider-bottom-1685781927 {
    position: absolute;
    bottom: 465px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 0;
}

.custom-shape-divider-bottom-1685781927 svg {
    position: relative;
    display: block;
    width: calc(110% + 255.3px);
    height: 175px;
}

.custom-shape-divider-bottom-1685781927 .shape-fill {
    fill: #704588;
}


/* VISTA DESKTOP */

@media (min-width:768px){
    .custom-shape-divider-bottom-1685781927 {
        position: absolute;
        bottom: 273px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: 0;
    }
    
    
    .custom-shape-divider-bottom-1685781927 svg {
        position: relative;
        display: block;
        width: calc(110% + 768.3px);
        height: 283px;
    }
    
}
@media (min-width:1200px){
    .custom-shape-divider-bottom-1685781927 {
        position: absolute;
        bottom: 225px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: 0;
    }

    
    
    .custom-shape-divider-bottom-1685781927 svg {
        position: relative;
        display: block;
        width: calc(110% + 701.3px);
        height: 352px;
    }
    
}