.skills__titulo{
    display: flex;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (min-width:768px){
    .skills__titulo{
        display: flex;
        font-size: 3.5rem;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
        

}
@media (min-width:1200px){
    .skills__titulo{
        display: flex;
        font-size: 3.5rem;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-left: 471px;   

    }
    }

