.card {
    height: 142px;
    width: 106px;
    display: flex;
    background: rgba(188, 188, 188, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
  }
  
  .img {
        /* height: 30%; */
    position: absolute;
    transition: 0.2s ease-in-out;
    z-index: 1;
  }
  
  .skills__texto {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 43px;
    transition: 0.2s ease-in-out;
    z-index: 2;
    padding: 18px;
  }
  

  
.skills__texto > .head {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  }
    
  
  
  .card:hover > .skills__texto {
    opacity: 1;
  }
  
  .card:hover > .img {
    height: 65%;
    filter: blur(8px);
    animation: anim 3s infinite;
  }
  
  @keyframes anim {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-20px);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  .card:hover {
    transform: scale(1.04) rotate(-1deg);
  }
  
  

@media (min-width:768px){
    .card{
     height: 204px;
    width: 147px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .skills__texto > .head {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
  }
  
        

    .skills__texto{
        gap: 0;
    }
    
}
@media (min-width:1200px){
    .card{
      height: 260px;
      width: 179px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
      .skills__texto > .head {
      font-size: 22px;
      font-weight: 700;
      text-align: center;
  }
}






