.skills{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
@media (min-width:768px){
    .skills{
        display: flex;
        height: auto;
        width: 100%;
        align-items: center;
        z-index: 10;
        position: relative;
    }
}

@media (min-width:1200px){
    .skills{
        display: flex;
        flex-wrap: wrap;
        height: 102vh;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
}