.skills__cajas{
    display: flex;
    width: 100%;
    gap: 6px;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: -61vh;
    z-index: 10px;
    min-height: 663px;
}

@media (min-width:768px){
    .skills__cajas{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        flex-wrap: wrap;
        max-width: 1182px;
        align-content: flex-start;
        flex-direction: row;
        height: 104vh;
        background: url(../../img/IAselfie.webp) no-repeat right;
        background-size: 506px;
        min-height: 913px;
    }

}
@media (min-width:1200px){
    .skills__cajas{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        max-width: 2452px;
        align-content: flex-start;
        flex-direction: row;
        background: url(../../img/IAselfie.webp) no-repeat right;
        background-size: 623px;
        max-height: 1107px;
        height: 183vh;
        align-items: center;
}
    }
 
}



