.skills__cajas{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 6px;
}


@media (min-width:768px){
    .skills__cajas{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        flex-wrap: wrap;
        max-width: 1358px;
        align-content: flex-start;
        flex-direction: row;
        height: 113vh;
        background: url(../../img/IAselfie.png) no-repeat right;
        background-size: 495px;
    }
}
@media (min-width:1200px){
    .skills__cajas{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        flex-wrap: wrap;
        max-width: 1358px;
        align-content: flex-start;
        flex-direction: row;
        height: 135vh;
        background: url(../../img/IAselfie.png) no-repeat right;
        background-size: 549px;
    }

}

