.skills{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
@media (min-width:768px){
    .skills{
        display: flex;
        /* flex-direction: row; */
        height: 100vh;
        width: 100%;
        align-items: center;
    }
}

@media (min-width:1200px){
    .skills{
        display: flex;
        flex-wrap: wrap;
        height: 72vh;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
}