.skills__cajas{
    display: flex;
    width: 100%;
    gap: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10px;
}


@media (min-width:768px){
    .skills__cajas{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        flex-wrap: wrap;
        max-width: 1182px;
        align-content: flex-start;
        flex-direction: row;
        height: 104vh;
        background: url('../../img/IAselfie.png') no-repeat right;
        background-size: 408px;
        min-height: 904px;
    }

}
@media (min-width:1200px){
    .skills__cajas{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        max-width: 1837px;
        align-content: flex-start;
        flex-direction: row;
        /* height: 105vh; */
        background: url(../../img/IAselfie.png) no-repeat right;
        background-size: 575px;
        min-height: 909px;
    }

}

