.skills__descargar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (min-width:768px){
    .skills__descargar{
        display: flex;
        justify-content: flex-start;
        margin-top: 15px;
        width: 100%;
    }
}
@media (min-width:1200px){
    .skills__descargar{
        display: flex;
        justify-content: flex-start;
        margin-top: 15px;
        width: 69%;
    }
}