.acerca{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 108vh;
}  

@media (min-width:768px){
    .acerca{
        background: url(../../img/IAselfie2.png) left no-repeat;
        background-size: 481px;
        align-items: flex-end;
        
        }
}
@media (min-width:1200px){
    .acerca{
        background: url(../../img/IAselfie2.png) left no-repeat;
        background-size: 587px;
        align-items: flex-end;
        width: 100%;
    }

}