.acerca__contactar{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width:100%
}


@media (min-width:768px){
    .acerca__contactar{
        display: flex;
        justify-content: center;
        margin-top: 15px;
        width:100%
    }
}



@media (min-width:1200px){
    .acerca__contactar{
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
        width: 75%;
    }
}
    
