.acerca__titulo{
  display: flex;
  font-size: 2.3em;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 13px 0;
  text-align: center;
  justify-content: center;
  }

@media (min-width: 768px){
  .acerca__titulo{
    display: flex;
    font-size: 3em;
  }
}
@media (min-width: 1200px){
  .acerca__titulo{
    display: flex;
    font-size: 3em;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 459px;
}
    }
}
        