.acerca__container{
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 2;
  height: 132vh;
  align-items: center;
}

@media (min-width:768px){
    .acerca__container{
      display: flex;
      width: 60%;
      align-items: center;
      padding-right: 11px;
      z-index: 2;
      justify-content: flex-start;
      height: unset;
      } 
}
@media (min-width:1200px){
    .acerca__container{
      display: flex;
      width: 100%;
      justify-content: flex-start;
    }
      
}
