.acerca{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    }  

@media (min-width:768px){
    .acerca{
        display: flex;
        justify-content: center;
        align-items: center;
        }
}