@media (min-width:768px){
    .tooltip__box{
        color: var(--seccond-color);
        background: rgba(0, 0, 0, 0.592);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 17px );
        -webkit-backdrop-filter: blur( 19px );
        border-radius: 10px;
        border: 1px solid rgba(76, 75, 75, 0.518);
        padding: 3px 7px;
        line-height: 28px;
        text-align: center;
        position: absolute;
        font-size: 11px;
        left: -41px;
        top: 59px;
        display: none;
    }
}






