
    
    
    .dark-mode body{
        background: rgb(7, 7, 7);
        color: rgb(238, 235, 235);
        transition: 2s;
    }
    /* elemntos del header */
    .dark-mode #header{
        background: rgba( 0, 0, 0, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 12.5px );
        -webkit-backdrop-filter: blur( 12.5px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        
    }
    
    .dark-mode .logo{
        filter: drop-shadow(0 0 11px  rgba(0,212,255,1));
        color: white;
    }
    
    .dark-mode .logo span{
        color: rgba(0,212,255,1);
        filter: drop-shadow(0 0 11px  rgba(0,212,255,1));
    } 
    
    .dark-mode .menu-desktop a{
        color: rgba(0,212,255,1);
    }
    
    .dark-mode  .rayo-lleno{
        align-items: center;
        padding: 20px 1px;
        width: 45px;
        cursor: pointer;
        display: block;
        filter: invert(100%) sepia(22%) saturate(7443%) hue-rotate(110deg) brightness(91%) contrast(101%) drop-shadow(0 0 12px  rgba(0,212,255,1));
    }
    
    .dark-mode .rayo-vacio{
        display: none;
    }
    /* ELEMENTOS DEL MENU HAMBURGUESA */
    .dark-mode .hamburger-inner{
        filter:  invert(74%) sepia(58%) saturate(4419%) hue-rotate(149deg) brightness(102%) contrast(107%);
    }
    
    .dark-mode .panel{
        background: rgba( 0, 0, 0, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 12.5px );
        -webkit-backdrop-filter: blur( 12.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        color: rgba(0,212,255,1);
    }
    
    .dark-mode  nav .menu-aside{
        color: rgba(0,212,255,1);
    }
    
    /* ELEMNTOS DEL HERO */
    
    .dark-mode  #hero{
        background: linear-gradient(0deg, rgba(18,0,42,1) 20%,  rgba(7, 7, 7)61%);
        transition: 4s;
    }
    
    .dark-mode  .saludo{
        transition: 4s;
        color: white;
    }
    .dark-mode  .saludo span{
        color: rgba(0,212,255,1);
        filter: drop-shadow(0 0 11px  rgba(0,212,255,1));
    }
    
    .dark-mode .subtitulo{
        color:white;
    }
    
    .dark-mode .side-img .img-dark{
        display: block;
        width: 200px;
        animation:  slideup 0.8s ease forwards;
        position: relative;
        filter: drop-shadow(2px -5px 16px #D608A9);
    }

        .dark-mode .side-img .img-ligth{
            display: none;
        }
    
    .dark-mode .github{
        filter: invert(100%) drop-shadow(5px 5px 10px #76FFC3);
    }

    .dark-mode .alura{
        filter: invert(100%) drop-shadow(5px 5px 10px #76FFC3);
    }
    .dark-mode .linkedin{
        filter: invert(100%) drop-shadow(5px 5px 10px #76FFC3);
    }

    .dark-mode .youtube{
        filter: invert(100%) drop-shadow(5px 5px 10px #76FFC3);
    }

    .dark-mode .platzi{
        filter: invert(100%) drop-shadow(5px 5px 10px #76FFC3);
    }
     /* DIVIDERS */
    
     .dark-mode  #divider1{
        transition: 2s;
        fill:rgb(7, 7, 7) ;
     }
    
    
     /* SECCION ACERCA DE */
    
     .dark-mode  #acercaDeTitulo{
        color: white;
    }
     .dark-mode  #aboutMe .container{
        background-image: url(../assets/blob.svg);
        background-repeat: no-repeat;
        background-size: 1086px;
        background-position: center;
    }
    
    .dark-mode #acercaDeTitulo span{
        color: rgba(0,212,255,1);
        filter: drop-shadow(0 0 5px rgba(0,212,255,1));
     }
    
     .dark-mode .img-txt{
    background: rgba( 0, 0, 0, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17.5px );
    -webkit-backdrop-filter: blur( 17.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    
    .dark-mode .perfil-2{
        filter: drop-shadow(0 0 5px rgba(0,212,255,1));
        border: 2px solid white;
    }
    
    .dark-mode .contenido{
        color: white;
    }
    
    .dark-mode .contenido a{
        color: #8758FF;
    }
    
    .dark-mode .contenido a:hover{
        color: #58ecff;
    }
    
    /* SECCION SKILLS */
    
@media (min-width:700px){
   .dark-mode .side-img .img-dark{
        width: 285px;
      }

      .dark-mode  .rayo-lleno{
        align-items: center;
        padding: 20px 1px;
        width: 35px;
        cursor: pointer;
        display: block;
        filter: invert(100%) sepia(22%) saturate(7443%) hue-rotate(110deg) brightness(91%) contrast(101%) drop-shadow(0 0 12px  rgba(0,212,255,1));
    }
}

