.custom-shape-divider-bottom-1685513857 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;


}

.custom-shape-divider-bottom-1685513857 svg {
    position: relative;
    display: block;
    width: calc(165% + 0.8px);
    height: 135px;
}

.custom-shape-divider-bottom-1685513857 .shape-fill {
    fill: rgb(206, 206, 206);
    
}

@media (min-width:850){
    .custom-shape-divider-bottom-1685515052 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-bottom-1685515052 svg {
        position: relative;
        display: block;
        width: calc(150% + 3px);
        height: 159px;
        transform: rotateY(180deg);
    }
    
    .custom-shape-divider-bottom-1685513857 .shape-fill {
        fill: white;
        
    }

}