.custom-shape-divider-bottom-1685513857 {
    position: absolute;
    bottom: 55px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1685513857 svg {
    position: relative;
    display: block;
    width: calc(152% + 5.799999999999997px);
    height: 247px;
}

.custom-shape-divider-bottom-1685513857 .shape-fill {
    fill: rgb(206, 206, 206);
    
}
/*FIN DEL  DIVIDER  1*/




/* DIVIDER  2 */

.custom-shape-divider-bottom-1685781927 {
    position: absolute;
    bottom: -1607px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1685781927 svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 191px;
}

.custom-shape-divider-bottom-1685781927 .shape-fill {
    fill: #3F0071;
}


/* VISTA DESKTOP */

@media (min-width:850px){
    .custom-shape-divider-bottom-1685513857 {
        position: absolute;
    bottom: -379px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    }
    
    
    
    .custom-shape-divider-bottom-1685513857 svg {
        position: relative;
        display: block;
        width: calc(152% + 79.8px);
        height: 358px;
    }
    
    .custom-shape-divider-bottom-1685513857 .shape-fill {
        fill:rgb(206, 206, 206);
        
    }
    /* FIN DEL DIVIDER 1 */


    
    /* DIVIDER  2 */
    .custom-shape-divider-bottom-1685781927 {
     position: absolute;
    bottom: -1647px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    }
    
    .custom-shape-divider-bottom-1685781927 svg {
        position: relative;
        display: block;
        width: calc(144% + 1.3px);
        height: 224px;
    }
    
    .custom-shape-divider-bottom-1685781927 .shape-fill {
        fill: #3F0071;
    }

    

}