.custom-shape-divider-bottom-1685513857 {
    position: absolute;
    bottom: 55px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}



.custom-shape-divider-bottom-1685513857 svg {
    position: relative;
    display: block;
    width: calc(152% + 5.799999999999997px);
    height: 247px;
}

.custom-shape-divider-bottom-1685513857 .shape-fill {
    fill: rgb(206, 206, 206);
    
}


/* VISTA DESKTOP */

@media (min-width:850px){
    .custom-shape-divider-bottom-1685513857 {
        position: absolute;
    bottom: -227px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    }
    
    
    
    .custom-shape-divider-bottom-1685513857 svg {
        position: relative;
        display: block;
        width: calc(152% + 79.8px);
        height: 358px;
    }
    
    .custom-shape-divider-bottom-1685513857 .shape-fill {
        fill:rgb(206, 206, 206);
        
    }

}