*,
*:before,
*:after{
  box-sizing: inherit;
}

.panel-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 4vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--seccond-color);
    border: solid;
    border-color: var(--dark-purple);
    
  }



.panel{
    position: fixed;
    z-index: 997;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    background-color:var(--pure-black);
    transition:transform .3s ease;
    /* Menu sale de la derecha */
      transform: translate(100%, 0);
    
    
    /* De arriba  */
    /* transform: translate(0, -100%); */
    
    /* De la izquierda */
    /* transform: translate(-100%, 0); */
    
    /* De abajo */
    /* transform: translate(0, 100%); */
}

.panel.is-active{
    transform:translate(0, 0);
}

.menu{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  .menu a{
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--seccond-color);
    transition: all 0.5s ease;
  }


  .menu a:hover{
    font-weight: bold;
    color: var(--second-color);
    background-color: gray;
    color: var(--link-color);
    }












/* @media(min-width:1000px){


    .panel-btn{
        position: fixed;
        z-index: 999;
        bottom: 90vh;
        right: 4vw;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--second-color);
    }

    .panel{
        position: fixed;
        z-index: 997;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 10%;
        width: 60%;
        display: flex;
        background-color:var(--main-color);
        transition:transform .3s ease;
        transform: translate(100%, 0%);
    }

        
    .panel.is-active{
        transform: translate(30%, 0%);
        display: flex;
        justify-content: left;
    }
        

} */