:root{
    --main-color: #181818;
    --seccond-color: #F2F2F2;
    --purple: #8758FF;
    --blue: #5CB8E4;

    /* Darktheme */

    --pure-black: #000000;
    --dark-purple: #150050;
    --purple: #3F0071;
    --ligth-purple: #610094;
}
#header {
    display: flex;
    width: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 5px 6px -2px rgba(0, 0, 0, 0.37);
    position: fixed;
    z-index: 50;
    top: 0;
    padding: 0 5px;
    justify-content: space-between;
    transition: all 0.9s;
    align-items: center;
}

#header
.container {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    flex-wrap: nowrap;
    width: 149px;
    flex-direction: row;
    align-items: stretch;
    transition: all 0.9s;
}

.menu-desktop a{
    text-decoration: none;
    color: var(--seccond-color);
    font-Weight: bold;
    cursor: pointer;
    text-shadow: -0.3rem -0.2rem 0.4rem var(--main-color);
    transition: all 0.9s;

}

.menu-desktop a:hover{
    transform: scale(1.2);
    color: var(--blue);
    filter: drop-shadow(0 0 12px var(--blue));
    gap: 20px;
}



.logo {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 25px;
    color: var(--pure-black);
    filter: drop-shadow(15px 1px 12px  rgba(0,0,0));
    transition: all 0.9s;
}
.logo:hover{

    filter: drop-shadow(0 0 12px var(--blue));
}

.logo span{
    color: var(--seccond-color);
    
}

.logo span:hover{
    color: var(--blue);
    filter: drop-shadow(0 0 12px var(--blue));
}

a{
    text-decoration: none;
}

.menu-desktop {
    display: none;

}


.rayo-vacio{
    display: flex;
    font-size: 38px;
    align-items: center;
    padding: 20px 1px;
    width: 45px;
    filter: invert(74%) sepia(50%) saturate(3042%) hue-rotate(148deg) brightness(104%) contrast(113%)drop-shadow(rgb(0, 0, 0) 0px 0px 9px);
    cursor: pointer;
}
    
    
.rayo-vacio:hover{
    transform: scale(1.2);
    filter: invert(67%) sepia(62%) saturate(3839%) hue-rotate(132deg) brightness(97%) contrast(101%);
}

.rayo-lleno{
    display: none;
}

   


@media(min-width:700px){

    .panel-btn {
        display: none;
    }
    .panel{
        display: none;
    }


    #header {
        display: flex;
        width: 100%;
        padding: 0 20px;
        justify-content: space-between;

    }


    #header
    .container {
        display: flex;
        justify-content: space-between;
        padding: 0 25px;
        flex-direction: row;
        align-items: stretch;
        background-color: transparent;
        flex-wrap: nowrap;
        width: auto;
    }

    .logo {
        display: flex;
        justify-content: flex-start;
        font-size: 25px;


    }
    .menu-desktop {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 526px;
        font-size: 1.2em;
        font-weight: 500;
        
    }

    .rayo-vacio{
        display: flex;
        font-size: 38px;
        align-items: center;
        padding: 20px 1px;
        width: 35px;
        filter: invert(74%) sepia(50%) saturate(3042%) hue-rotate(148deg) brightness(104%) contrast(113%)drop-shadow(rgb(0, 0, 0) 0px 0px 9px);
        cursor: pointer;
    }

}