:root{
    --main-color: #181818;
    --seccond-color: #F2F2F2;
    --purple: #8758FF;
    --blue: #5CB8E4;

    /* Darktheme */

    --pure-black: #000000;
    --dark-purple: #150050;
    --purple: #3F0071;
    --ligth-purple: #610094;
}






.menu-desktop a{
    text-decoration: none;
    color: var(--seccond-color);
    font-Weight: bold;
    cursor: pointer;
    text-shadow: -0.3rem -0.2rem 0.4rem var(--main-color);
}

.menu-desktop a:hover{
    transform: scale(1.2);
    color: var(--blue);

}

#header {
    display: flex;
    width: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    position: fixed;
    z-index: 996;
    top: 0;
    padding: 0;
    justify-content: center;
}



#header
.container {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    flex-wrap: nowrap;
    width: 149px;
    flex-direction: row;
    align-items: stretch;
}
   





.logo {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 25px;
    color: var(--pure-black);
    text-shadow: -0.3rem -0.2rem 0.4rem var(--main-color);
}
.logo:hover{

    filter: drop-shadow(0 0 12px var(--blue));
}

.logo span{
    color: var(--seccond-color);
    
}

.logo span:hover{
    color: var(--blue);
    filter: drop-shadow(0 0 12px var(--blue));
}

a{
    text-decoration: none;
}

.menu-desktop {
    display: none;

}

i{
    display: flex;
    font-size: 38px;
    align-items: center;
    padding: 20px 1px;
    width: 52px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(155deg) brightness(102%) contrast(100%)drop-shadow(0 0 12px #000000);
    cursor: pointer;
}
    
i:hover{
    transform: scale(1.2);
    filter: invert(77%) sepia(67%) saturate(1475%) hue-rotate(103deg) brightness(102%) contrast(100%)drop-shadow(0 0 12px var(--blue));
}



   


@media(min-width:800px){

    .panel-btn {
        display: none;
    }
    .panel{
        display: none;
    }


    #header {
        display: flex;
        width: 100%;
        padding: 0 20px;
        justify-content: space-between;

    }


    #header
    .container {
        display: flex;
        justify-content: space-between;
        padding: 0 25px;
        flex-direction: row;
        align-items: stretch;
        background-color: transparent;
        flex-wrap: nowrap;
        width: auto;
    }

    .logo {
        display: flex;
        justify-content: flex-start;
        font-size: 25px;


    }
    .menu-desktop {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 381px;
        font-size: 1.2em;
        font-weight: 500;
        
    }

}