:root{
    --main-color: #181818;
    --seccond-color: #F2F2F2;
    --purple: #8758FF;
    --blue: #5CB8E4;

    /* Darktheme */

    --pure-black: #000000;
    --dark-purple: #150050;
    --purple: #3F0071;
    --ligth-purple: #610094;
}

/* Menu hamburguesa Movil view */

.panel-btn{
    padding: 0 13px 0 0;
    margin-right: 10px;
    filter: invert(100%);
}

a{
    text-decoration: none;
    color: var(--seccond-color);
    font-Weight: bold;
}

a:hover{
    transform: scale(1.2);
    color: var(--blue);

}

#header {
    display: flex;
    width: 100%;
    background-color: #00000086;
    position: fixed;
}



#header
.container {
    display: flex;
    justify-content: space-between;
    padding: 0 46px;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
   
}





.logo {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 25px;
    color: var(--pure-black);
    text-shadow: -0.3rem -0.2rem 0.4rem var(--main-color);
}

.logo span{
    color: var(--seccond-color);
}

.menu {
    display: none;

}




@media(min-width:800px){

    .panel-btn{
        display: none;
    }
    .panel{
        display: none;
    }

    #header {
        display: flex;
        width: 100%;
        padding: 0 20px;
        justify-content: space-between;

    }


    #header
    .container {
        display: flex;
        justify-content: space-between;
        padding: 0 25px;
        flex-direction: row;
        align-items: stretch;
        background-color: transparent;
        flex-wrap: nowrap;
        width: auto;
    }

    .logo {
        display: flex;
        justify-content: flex-start;
        font-size: 25px;


    }
    .menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 381px;
        font-size: 1.2em;
        font-weight: 500;
        
    }

}