@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');


* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  overflow-x: hidden;
  z-index: 0;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  width: 100%;
  background:rgb(206, 206, 206);
}



#hero {
  transition: all 0.9s ease;
  display: flex;
  height: 798px;
  background: linear-gradient(180deg, #fe71d1 -11%, #64baef);
  justify-content: space-evenly;
  flex-direction: column;
}


.contenedor-hero{
  display: grid;
  height: 614px;
  margin-top: 48px;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: space-evenly;  
}

#hero .container{
    transition: all 0.9s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
  }

h1 {
  transition: all 0.9s;
    color: var(--pure-black);
    font-size: 3em;
    text-align: center;
    font-weight: 600;
    margin: 0 0 31px 0;
    filter: drop-shadow(0 0 6px var(--pure-black));
} 
  

h1 span {
  transition: all 0.9s;
  color: var(--seccond-color);
  
}

h1 span:hover {
  color: var(--blue);
  filter: drop-shadow(0 0 12px var(--blue));
}
  


#hero h2 {
  font-size: 1.2em;
  text-align: center;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: -1px;
  transform: translateY(-300px);
  gap: 14px;
  animation: expand 0.8s ease forwards;
  transition: all 1.5s;
  justify-content: center;
  align-content: center;
  padding: 5px;
}
  


.mexico-bandera{
  width: 35px;
  
}
/* Foto de perfil */
.side-img  .img-ligth{
  width: 200px;
  animation:  slideup 0.8s ease forwards;
  position: relative;
}
.side-img .img-dark {
 display: none;
}

/* Iconos de redes sociales  */
.social{
  display: flex;
  flex-direction: row;
  gap: 16px;
}
/* tamaño de los iconos */
.social img{
  width: 50px;
    filter: drop-shadow(0 0 12px var(--seccond-color));
}
.social img:hover{
  transform: scale(1.5);
}

/* Iconos individuales, color y posición */

.github{
  position: relative;
    bottom: 145px;
    right: -12px;
    transform: translateY(-200px);
    animation: slideIn 1s ease-in-out forwards;
    z-index: 20;
}

.github img{
  width: 67px;
}
  
.linkedin{
  filter: invert(30%) sepia(100%) saturate(1072%) hue-rotate(180deg) brightness(96%) contrast(97%) drop-shadow(0 0 3px var(--pure-black));
    position: relative;
    bottom: 120px;
    right: -79px;
    transform: translateY(-300px);
    animation: expand 0.8s ease forwards;
    z-index: 20;
}
.linkedin img{
  width:50px;
}
.platzi{
  filter: invert(53%) sepia(39%) saturate(3085%) hue-rotate(64deg) brightness(100%) contrast(101%);
  position: relative;
  bottom: 201px;
  right: -19px;
  transform: translateY(-300px);
  animation: expand 1.5s ease-in-out forwards;
  z-index: 20;
}

.platzi img{
  width: 45px;
}
.youtube{
  filter: invert(28%) sepia(90%) saturate(6257%) hue-rotate(354deg) brightness(96%) contrast(106%);
  position: relative;
  bottom: 30px;
  right: 139px;
  transform: translateY(500px);
  animation: expand 0.8s ease-in-out forwards 0.8s;
  z-index: 20;
}

.alura{
  filter: invert(30%) sepia(100%) saturate(1072%) hue-rotate(180deg) brightness(96%) contrast(97%) drop-shadow(0 0 3px var(--pure-black));
  position: relative;
  bottom: 230px;
  right: 23px;
  transform: translateY(-600px);
  animation: expand 0.8s ease forwards;
  z-index: 19;
}
.alura img{
  width: 30px;
}

/* Animaciones  de entrada */
@keyframes slideIn{ 
  0%{
    transform: translateY(600px) scale(6.2);
  }
  100%{
    transform:translateY(0px) scale(1);
  }
}

@keyframes slideUp{ 
  0%{
    transform: translateY(300px);
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes expand{ 
  0%{
    transform: translateY(1400px);
    
  }
  100%{
    transform: translateY(0px);

  }
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

/* VISTA DESKTOP */

@media (min-width:850px){
  #hero{
    height:1136px;
  }

  .contenedor-hero {
    display: flex;
    height: 596px;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 34px;
    gap: 60px;
    margin-top: 49px;
  }
  #hero .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1px;
  }

  #hero h1 {
    font-size: 4em;
    text-align: center;
    font-weight: 700;
  }

  #hero h2 {
    font-size: 1.6em;
    top: 32px;
    transform: translateY(-300px);
}



  .side-img .img-ligth{
    width: 285px;
  }
 



  .social{
    display: flex;
    flex-direction: column;
    width: 50px;
    gap: 16px;
  }

  

  .github{
    position: relative;
    top: 175px;
    right: 331px;
  }

  .github img{
    width: 88px;
  }
  .linkedin{
    position: relative;
    top: 5px;
    right: 45px;
  }
  .platzi{
    position: relative;
    top: -201px;
    right: 91px
  }
  .platzi img{
    width: 60px;
  }
  .youtube{
    position: relative;
    top: -26px;
    right: 187px;
  }

  .youtube img{
    width: 50px;
  }
  .alura{
    position: relative;
    top: -54px;
    right: 262px;
  }
  .alura img{
    width: 41px;
  }
  
  
  
}