

#skills{
    display: flex;
    /* background: linear-gradient(0deg, rgba(179,109,191,1) -99%, rgba(63,0,113,1) 56%); */
    justify-content: center;
}

.icon-skills{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 225px;
   
}


@media screen and (min-width:850px){


    
    .icon-skills{
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 650px;
        align-items: center;
        justify-content: space-around;
    }
    
    .iconimg{
        width: 322px;
    }
  .javascripticon {
    width: 268px;
    }   
    .wordpressicons{
        width: 310px;
    }

}