

#skills{
    display: flex;
    /* background: linear-gradient(0deg, rgba(179,109,191,1) -99%, rgba(63,0,113,1) 56%); */
    justify-content: center;
}

.icon-skills{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.icon-skills .javascripticon{
    filter: invert(83%) sepia(25%) saturate(3508%) hue-rotate(348deg) brightness(103%) contrast(104%);
}





@media screen and (min-width:700px){


    
    .icon-skills{
        display: flex;
        flex-direction: row;
        height: 232px;
        width: 100%;
        max-width: 964px;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .icon-skills img{
        width: 150px;
    }
    .icon-skills .javascripticon{
        width:170px;
    }
        
    
  

}