@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');


* {
  box-sizing: border-box;
  transition: all .8s;
}


body {
  z-index: 0;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}
  
  
  




#hero {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  align-content: center;

  background-image: linear-gradient(0deg, rgba(65, 6, 138, 0.736) 15%, rgba(160, 5, 126, 0.589) 63%);
  height: 800px;
padding: 15px;
}

#hero .container{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}


h1 {

  color: var(--pure-black);
  font-size: 2em;
  text-align: center;
  font-weight: 600;
}

h1 span {
  color: var(--seccond-color);
}

h1 span:hover {
  color: var(--blue);
  filter: drop-shadow(0 0 12px var(--blue));
}


#hero h2 {
  font-size: 1.5em;
  text-align: center;
  font-weight: 500;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  flex-wrap: wrap;
  padding: 0 0 56px 0;
}

.mexico-bandera{
  width: 28px;
  
}

/* Foto de perfil */
.side-img img{
  width: 200px;
}

/* Iconos de redes sociales  */
.social{
  display: flex;
  flex-direction: row;
  gap: 16px;
}
/* tamaño de los iconos */

.social img{
  width: 32px;
  transform: translateY();

}


.social img:hover{
  transform: scale(1.5);
}
  
/* Iconos indiciduales, color y posición */
.whatsapp{
  filter: invert(47%) sepia(89%) saturate(2229%) hue-rotate(90deg) brightness(97%) contrast(109%);
  position: relative;
  bottom: 180px;
  right: -5px;
}

.github{
  filter: invert(100%);
  position: relative;
  bottom: 95px;
  right: 45px;
}

.linkedin{
  filter: invert(30%) sepia(100%) saturate(1072%) hue-rotate(180deg) brightness(96%) contrast(97%);
  position: relative;
  bottom: 20px;
  right: 30px;
}
  

.platzi{
  filter: invert(53%) sepia(39%) saturate(3085%) hue-rotate(64deg) brightness(100%) contrast(101%);
  position: relative;
  bottom: 160px;
  right: -45px;
}


.youtube{
  filter: invert(28%) sepia(90%) saturate(6257%) hue-rotate(354deg) brightness(96%) contrast(106%);
  position: relative;
  bottom: 65px;
  right: -2px;
}





/* vista Desktop */

@media (min-width:800px){
 
  
  
  
  #hero {
    grid-template-columns: 1fr 1fr;
    height: 741px;
  }
    
  
  #hero .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }
  
  #hero h1 {
    font-size: 2.5em;
    text-align: center;
    font-weight: 600;
  }
  
  #hero h2 {
    padding: 0;
  }
    
  .side-img img{
    width: 268px;
  }
  .social{
    display: flex;
    flex-direction: column;
    /* width: 43px; */
    gap: 16px;
    /* width: 15px; */
  }
  

  .social img{
    width: 38px;
  }


  .whatsapp{
    position: relative;
    top: 0;
    right: 255px;
  }
  .github{
    position: relative;
    top: 70px;
    right: 325px;
  }
  .linkedin{
    position: relative;
    top: 85px;
    right: 300px;
  }
    
  .platzi{
    position: relative;
    top: -100px;
    right: 50px;
  }
  
  .youtube{
    position: relative;
    top: -25px;
    right: 75px;
  }
 

}
