.menu-hamburger__link{
  padding: 10px;
  width: inherit;
  display: block;
  font-size: 2.3rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--seccond-color);
  transition: all 0.5s ease;
  text-shadow: -0.3rem 0.1rem 0.2rem var(--main-color);
  text-align: center;
  height: auto;
}


