.panel{
    position: fixed;
    z-index: 997;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transition:transform .3s ease;
    /* Menu sale de la derecha */
      transform: translate(100%, 0);
    
      /* Menu sale de De arriba  */
    /* transform: translate(0, -100%); */
    
    /*  Menu sale deDe la izquierda */
    /* transform: translate(-100%, 0); */
    
    /*  Menu sale deDe abajo */
    /* transform: translate(0, 100%); */
}

.panel.is-active{
    transform:translate(0, 0);
}

@media(min-width:668px){
    .panel{
        display: none;
    }

}