
@media(min-width:668px){
    .menu__link{
        text-decoration: none;
        font-size: 1rem;   
        font-weight: 500;
        color: var(--seccond-color);
        font-Weight: bold;
    }
    
    .menu__link:hover{
        color: var(--blue);
        filter: drop-shadow(0 0 12px var(--blue));
    }
    }



@media (min-width:1200px){
    .menu__link{
        text-decoration: none;
        font-size: 1.4rem;   
        font-weight: 500;
        color: var(--seccond-color);
        font-Weight: bold;
    }
    
}