@media(min-width:668px){
    .menu__contenido{
        display: flex;
        min-width: 471px;
        max-width: 706px;
        margin-left: -27px;
        display: flex;
        justify-content: space-around;
    }
}


@media(min-width:1200px){
    .menu__contenido{
    display: flex;
    width: 100%;
    min-width: 508px;
    max-width: 724px;
    margin-left: -68px;
    
}
}






