@media(min-width:768px){
    .menu__contenido{
        min-width: 471px;
        max-width: 649px;
        margin-left: -27px;
        display: flex;
        justify-content: space-around;
        width: 100%;
    
    }
}


@media(min-width:1200px){
    .menu__contenido{
        display: flex;
        width: 100%;
        min-width: 508px;
        max-width: 805px;
        margin-left: -68px;
    
}
}






