@media (min-width:768px){
    .menu__list{
        display: block;
        list-style: none;
        cursor: pointer;
        text-shadow: -0.3rem -0.2rem 0.4rem var(--main-color);
        transition: .3s ease-in-out;
    }
    .menu__list:hover{
            transform: scale(1.3);
    }

}
    




